/* HTML: <div class="loader"></div> */
.loader {
    
    aspect-ratio: 1;
    border-radius: 50%;
    background: #e0e0e0;
    animation: l10 1.5s infinite linear;
  }
  @keyframes l10 {
    0%    {box-shadow: 
            0 -30px rgba(157, 26, 217, 0.5), calc(30px*0.707) calc(-30px*0.707) rgba(174, 2, 254, 0.5),30px 0 rgba(43, 1, 62, 0.5), 0 0 #E3AAD6,
            0 0 rgba(157, 26, 217, 0.5), 0 0 #E3AAD6,0 0 rgba(157, 26, 217, 0.5), 0 0 #E3AAD6}
    12.5% {box-shadow: 
            0 0 rgba(157, 26, 217, 0.5), calc(30px*0.707) calc(-30px*0.707) #E3AAD6,30px 0 rgba(157, 26, 217, 0.5), calc(30px*0.707) calc(30px*0.707) #E3AAD6,
            0 0 rgba(157, 26, 217, 0.5), 0 0 #E3AAD6,0 0 rgba(157, 26, 217, 0.5), 0 0 #E3AAD6}
    25%   {box-shadow: 
            0 0 rgba(157, 26, 217, 0.5), 0 0 #E3AAD6,30px 0 rgba(157, 26, 217, 0.5), calc(30px*0.707) calc(30px*0.707) #E3AAD6,
            0 30px rgba(157, 26, 217, 0.5), 0 0 #E3AAD6,0 0 rgba(157, 26, 217, 0.5), 0 0 #E3AAD6}
    37.5% {box-shadow: 
            0 0 rgba(157, 26, 217, 0.5), 0 0 #E3AAD6,0 0 rgba(157, 26, 217, 0.5), calc(30px*0.707) calc(30px*0.707) #E3AAD6,
            0 30px rgba(157, 26, 217, 0.5), calc(-30px*0.707) calc(30px*0.707) #E3AAD6,0 0 rgba(157, 26, 217, 0.5), 0 0 #E3AAD6}
    50%   {box-shadow: 
            0 0 rgba(157, 26, 217, 0.5), 0 0 #E3AAD6,0 0 rgba(157, 26, 217, 0.5), 0 0 #E3AAD6,
            0 30px rgba(157, 26, 217, 0.5), calc(-30px*0.707) calc(30px*0.707) #E3AAD6,-30px 0 rgba(157, 26, 217, 0.5), 0 0 #E3AAD6}
    62.5% {box-shadow: 
            0 0 rgba(157, 26, 217, 1), 0 0 #E3AAD6,0 0 rgba(157, 26, 217, 0.5), 0 0 #E3AAD6,
            0 0 rgba(157, 26, 217, 0.5), calc(-30px*0.707) calc(30px*0.707) #E3AAD6,-30px 0 rgba(157, 26, 217, 0.5), calc(-30px*0.707) calc(-30px*0.707) #E3AAD6}
    75%   {box-shadow: 
            0 -30px rgba(157, 26, 217, 0.5), 0 0 #E3AAD6,0 0 rgba(157, 26, 217, 0.5), 0 0 #E3AAD6,
            0 0 rgba(157, 26, 217, 0.5), 0 0 #E3AAD6,-30px 0 rgba(157, 26, 217, 0.5), calc(-30px*0.707) calc(-30px*0.707) #E3AAD6}
    87.5% {box-shadow: 
            0 -30px rgba(157, 26, 217, 0.5), calc(30px*0.707) calc(-30px*0.707) #E3AAD6,0 0 rgba(157, 26, 217, 0.5), 0 0 #E3AAD6,
            0 0 rgba(157, 26, 217, 0.5), 0 0 #E3AAD6,0 0 rgba(157, 26, 217, 0.5), calc(-30px*0.707) calc(-30px*0.707) #E3AAD6}
    100%  {box-shadow: 
            0 -30px rgba(157, 26, 217, 1), calc(30px*0.707) calc(-30px*0.707) #E3AAD6,30px 0 rgba(157, 26, 217, 0.5), 0 0 #E3AAD6,
            0 0 rgba(157, 26, 217, 1), 0 0 #E3AAD6,0 0 rgba(157, 26, 217, 0.5), 0 0 #E3AAD6}
  
  }