.border{
    content: '';
    position: absolute;
    bottom: 2px;
    left:0;
    height: 6px;
    background: rgb(219,163,245);
    background: linear-gradient(0deg, rgba(43, 1, 62, 0.7) 0%, rgba(156,39,176,.5) 100%);
    border-radius: 5px;
}